*{
margin: 0;
}
#cabecalho
{
    background-color: rgb(27, 15, 0);
    height: 250px;
    text-align: center;
}
.butoes
{
    
}
.titulo
{
    
    color: white;
}
.subtitulo
{
    color: rgb(155, 155, 155);
}

.primeiroquadrado
{
    background-color:rgb(209, 65, 36);
    height: 250px;
}
.meio 
{
    background-color: white;
    height: 300px;
}
.butao2
{
    
}